:root {
    --main-bg: #333;
}

* {
    box-sizing: border-box;
    font-family: monospace;
    background-color: var(--main-bg);
    color: white;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
}

input::placeholder {
    color: white;
}

.kanjiBtn {
    border: none;
    background-color: var(--bgColor);
    cursor: pointer;
    width: 100%;
}

.kanjiBtn:hover {
    background-color: var(--hoverColor);
    transform: translateY(-10px);
    transition-duration: 100ms;
}

.kanjiBtn:focus {
    background-color: var(--bgColor);
    transform: none;
    transition-duration: 100ms;
}

button {
    border: 1px solid #dcd;
    border-radius: 0.5rem;
}

#settings button {
    margin: 5px;
    cursor: pointer;
}
#settings button:hover {
    background-color: #dcd;
    color: black;
}

.popup {
    position: absolute;
    background-color: transparent;
    top: -5%;
    left: 0;
    width: 100vw;
    user-select: none;
}

.setting-menu {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    min-height: 45px;
}

.popup > div {
    margin: 0 auto;
    width: fit-content;
    color: var(--textColor);
    margin: 0 auto;
    left: 0;
    padding: 1em;
    border: 1px solid var(--borderColor);
    border-radius: 0.5em;
}

.popup[data-open="open"] {
    top: 2%;
    transition-duration: 200ms;
}

.popup[data-open="closed"] {
    transition-duration: 200ms;
}

input {
    font-size: 2rem;
}

@media screen and (max-width: 800px) {
    .setting-menu {
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }
}
